<div class="container">
  <div style="text-align:center">
    <h2  class="title is-3 has-text-black">Contact Us</h2>
    <p>Call us, or leave us a message:</p>
  </div>
  <p>Hot line: (204)-999-9999</p>
  <a class="navbar-item" href="/contacts/new/">
        Send Message
      </a>
  <div class="row">
    <div class="column">
      <%= image_tag("fish.jpg", :alt => "rss feed") %>
    </div>
  </div>
</div>